p {
    font-family: Freestyle Script;
    font-size: xx-large;
}
body {
    background-color: rgb(204, 255, 204);
}
h1 {
    font-family: Bradley Hand ITC;
}
h2 {
    font-family: Curlz MT;
}
h3 {
    font-family: French Script MT;
}
#2024 {
    background-color: azure;
}
input {
    font-family: Comic Sans MS;
}